p{
    background-color: rgb(252, 109, 216);
    color: rgb(43, 94, 114);
    text-align: center;
    height: 300px;
    width: 600px;
    align-content: center;
    font-size: 40px;
    margin-left: 150px;
    margin-top: 50px;
}